<!DOCTYPE html>
<html lang="de">

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ description }}" />

    <link rel="stylesheet" href="/assets/styles/main.css" />
    <link rel="stylesheet" href="/assets/styles/small.css" media="screen and (max-width: 899px)" />
    <link rel="stylesheet" href="/assets/styles/large.css" media="screen and (min-width: 900px)" />
</head>

<body tabindex="-1">
    <main tabindex="0">
        <header>
            <h1>{{ header | striptags(true) | escape | nl2br}}</h1>
            <p>{{ subheader | striptags(true) | escape | nl2br }}</p>
            <img src="{{ image | safe}}" alt="{{ imagetext }}" />
        </header>
        {{ content | safe }}
        {% include "layout-footer.njk" %}
    </main>
    {% include "layout-nav.njk" %}
</body>

</html>