<footer>
    <ul>
{#         <li><a href="#Nutzungsbedingen">Nutzungsbedingungen</a></li>
        <li><a href="#Datenschutz">Datenschutz</a></li> #}
        <li><a href="/impressum.html">Impressum</a></li>
    </ul>
</footer>